html {
    background-color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
}
.text {
    color: white;
    size: 150%;
    display: flex;
    justify-content: center;
}
img {
    height: 200px;
}
@font-face {
    font-family: "tnr";
    src: url("static/TNR.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
h1{
    font-family: "tnr";
    src: url("static/TNR.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
.mainfoto{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.blocken{
    margin-top: 2%;
    size: 150%;
    display: flex;
    justify-content: center;
}
.blocksk{
    margin-top: 2%;
    size: 150%;
    display: flex;
    justify-content: center;
}
.blocklan{
    border: 2px solid rgb(43, 43, 43);
    padding: 10px;
}
.blocklan:hover{
    background-color: rgb(30, 30, 30);
}
.linklan{
    color: white;
    text-decoration: none;
}
p{
    color: white;
    size: 150%;
    display: flex;
    justify-content: center;
}
.imp{
    color: rgb(0, 255, 0);
}
.links{
    margin-left: 1%;
    color: white;
}
.parag{
    margin-bottom: 20%;
}